<h1>GitHttp</h1>



<div class="row" ng-app="AngulaRails" ng-controller="GitHttpController">
  <div class="col-md-6">

    <form ng-submit="search()">

      <div class="input-group">

        <span class="input-group-addon">
          <i class="icon-search"></i> </span>

        <input type="text" class="form-control" placeholder="Git Username" ng-model="username">

      </div>

    </form>

  </div>


  </hr>

  <i class="icon-refreshicon-spin" ng-show="searching"></i>
  <span class="icon-refreshicon-spin" ng-show="searching">loading...</span>

  <div class="alert alert-danger" ng-show="errorMessage">
    <strong>Error!</strong> {{ errorMessage }}
    <i class="icon-warning-sign"></i>
  </div>

  <div ng-show="repo_size">
    Number of Repos: <span ng-show="repo_size">{{repo_size}}</span>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="repo in repos">
    <h4 class="list-group-item-heading">{{ repo.full_name }}</h4>
    <p class="list-group-item-text text-muted">{{ repo.url }}</p>
    </li>
  </ul>


</div>
